.Create {
    max-width: 550px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 70px;
    text-align: left;
  }
  
  .Create label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  .content {
    height: 200px;
    resize: none;
  }
  .Create input[type='text'],
  .Create textarea {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #0077cc;
    margin-bottom: 25px;
    margin-top: 10px;
    transition: border-bottom 0.2s ease-in-out;
  }
  
  .Create input[type='text']:focus,
  .Create textarea:focus {
    outline: none;
    border-bottom-color: #0055b3;
  }
  
  .Create button[type='submit'] {
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .Create button[type='submit']:hover {
    background-color: #0055b3;
  }
  