@import url('../index.css');

.Create {
    max-width: 550px;
    margin: 0 auto;
    padding: 40px;
    background-color: var(--background-color);
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 70px;
    text-align: left;
  }
  
  .Create label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  .content {
    height: 200px;
    resize: none;
  }
  .Create input[type='text'] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid var(--primary-color);
    margin-bottom: 25px;
    margin-top: 10px;
    transition: border-bottom 0.2s ease-in-out;
  }
  
  .Create input[type='text']:focus,
  .Create textarea:focus {
    outline: none;
    border-bottom-color: var(--primary-color);;
  }
  
  .Create button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .Create button:hover {
    background-color: var(--accent-color);;
  }
  

  .Create textarea {
    display: block;
    width: 100%;
    max-width: 550px;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid var(--primary-color);;
    margin-bottom: 25px;
    margin-top: 10px;
    transition: border-bottom 0.2s ease-in-out;
  }
  
  