@import url('../index.css');

.feed {
  max-width: 1000px; /* set maximum width */
  margin: 0 auto; /* center the container horizontally */
  padding: 20px; /* add some padding for spacing */
  box-sizing: border-box; /* include padding in the element's width */
  
}

.Order {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  border-radius: 10px;
}

.Order h3 {
  margin-right: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: black
}

  .Order button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .Order button:hover {
    background-color: var(--accent-color);
    color: #fff;
  }
  
  .progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

select {
  margin-top: 1.5rem;
}

  