.feed {
  max-width: 1000px; /* set maximum width */
  margin: 0 auto; /* center the container horizontally */
  padding: 20px; /* add some padding for spacing */
  box-sizing: border-box; /* include padding in the element's width */
  
}

.Order {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 10px;
}

.Order h3 {
  margin-right: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

  .Order button {
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .Order button:hover {
    background-color: #024468;
    color: #fff;
  }
  
  