@import url('../index.css');

.ReadPosts {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: var(--background-color);
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 70px;
    text-align: left;
  }
  
  .ReadPosts .post-header {
    margin-bottom: 25px;
  }
  
  .ReadPosts .post-header .post-time {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
  }
  
  .ReadPosts .post-header .post-title {
    margin: 0;
    font-size: 28px;
    color: var(--primary-color);
  }
  
  .ReadPosts .post-header .post-description {
    margin-top: 10px;
    font-size: 16px;
    color: black;
  }
  
  .ReadPosts .post-image {
    margin-bottom: 25px;
  }
  
  .ReadPosts .post-image img {
    max-width: 50rem;
    height: 28.125rem; /* (9 / 16) * 50rem */
    object-fit: cover;
    overflow: clip;
    display: block;
    margin: 0 auto;
  }
  
  
  .ReadPosts .post-interactions {
    margin-bottom: 25px;
  }
  
  .ReadPosts button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin: 10px;
  }
  
  .ReadPosts  button:hover {
    background-color: var(--accent-color);
  }
  
  .ReadPosts .post-comments {
    margin-bottom: 25px;
  }
  
  .ReadPosts .post-comments h3 {
    margin: 0;
    font-size: 24px;
    color: var(--primary-color);;
    margin-bottom: 10px;
  }
  
  .ReadPosts .post-comments .comment {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  p {
    text-align: justify;
  }
  
  .comment-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  
  .comment-text {
    margin-right: 1rem;
  }
  