:root {
  --primary-color: #94dcee; /* vibrant pastel blue */
  --secondary-color: #343a40; /* dark gray */
  --background-color: #f8f9fa; /* light gray */

  background-color: #e6e8ea;
}




body {
  font-family: 'Montserrat', sans-serif;
}

/* Example usage: */
button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

h1 {
  color: var(--primary-color);
}

.container {
  background-color: var(--background-color);
  padding: 20px;
}

input {
  border: 1px solid var(--secondary-color);
  padding: 10px;
  border-radius: 5px;
}